{project_plugins, [
    {erlfmt, {git, "git@github.com:nomasystems/erlfmt.git", {tag, "v0.11.1"}}}
]}.

{erlfmt, [write]}.

{alias, [
    {check, [
        {fmt, "--check"},
        xref,
        dialyzer
    ]}
]}.

{profiles, [
    {gen_bsons, [
        {deps, [
            {nbson, {git, "git@github.com:nomasystems/nbson.git", {branch, "main"}}}
        ]},
        {shell, [
            {apps, [nbson, nbson_corpus]}
        ]}
    ]}
]}.

{xref_ignores, [nbson_corpus]}.
